html {
    padding: 0;
    margin: 0;
    height:100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d6be;
}

.screen {
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.screen1 {
    height: 50%;
    background-color: #90afac;
    width: 280px;
    border-bottom: 1px solid white;
    color: white;
    box-sizing: border-box;
    padding: 15px;
    text-align: end;
    font-size: 22px;
}

.screen2 {
    height: 50%;
    width: 280px;
    background-color: #748885;
    color: white;
    box-sizing: border-box;
    padding: 15px;
    text-align: end;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 280px;
    height: auto;
}

.btn {
    width: 70px;
    height: 70px;
    background-color: #d5f4e6;
}

.btn:hover {
    cursor: pointer;
    scale: 1.03;
    background-color: white;
}

.btn-divide {
    order: 2;
}

.btn9, .btn8, .btn7, .btn-multiply {
    order: 3;
}

.btn6, .btn5, .btn4, .btn-subtract{
    order: 4;
}

.btn3, .btn2, .btn1 {
    order: 5;
}

.btn-add {
    order: 6;
}

.btn-clr, .btn-dot {
    order: 7;
}

.btn0, .btn-eq {
    order: 8;
}

.btn-eq {
    flex:1;
}

.btn-add, .btn-subtract, .btn-divide, .btn-multiply {
    background-color: #7fd1da;
}
